@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body {
    font-family: 'Silkscreen'; 
    background: linear-gradient(to right, #FFD3A5 10%, #FD6585 100%);
}

.headerWrapper {
    display: flex; 
    justify-content: center;
}
.headerContainer {
    padding: 20px; 
    box-shadow: 1px 1px 79px 1px rgb(254, 78, 78); 
    border-radius: 10px;
    background:rgb(255, 255, 255, 0.29); 
}
.pixelproWrapper {
    display: grid; 
    justify-content: center;
}
.pixelproHeader {
    font-size: 60px;  
    color: rgba(255,255,255,0.9);
    padding: 15px; 
}

.btnContainer {
    display: flex; 
    justify-content: center;
    padding-top: 30px; 
    gap: 20px; 
}

.shakeBtn, 
.eraserBtn, 
.blackBtn, 
.rainbowBtn{
    text-decoration: none;
    color: rgba(255,255,255,0.9);
    font-size: 25px; 
    background:rgb(255, 255, 255, 0.29); 
    padding: 15px; 
    border-radius: 15px; 
    
}

.shakeBtn:hover,
.eraserBtn:hover, 
.blackBtn:hover, 
.rainbowBtn:hover {
    background-color: white; 
    color: rgba(98, 255, 213, 1);
}

.pixelproContainer {
    display: grid; 
    margin: 50px; 
    height: 700px; 
    width: 700px; 
    background: white; 
    box-shadow: 1px 1px 50px 1px rgba(98, 255, 213, 1); 
    border: 50px solid #409c6e; 
    border-radius: 20px; 

}
.gridCell {
    border: 2px solid black; 
}